<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.ItemsCommentsMapper" >
  <resultMap id="BaseResultMap" type="com.zb.pojo.model.ItemsComments" >
    <constructor >
      <idArg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="item_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="item_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="item_spec_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sepc_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="comment_level" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="created_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updated_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>

  <select id="queryItemComments" resultType="com.zb.pojo.vo.ItemCommentVO">
    SELECT
    ic.comment_level as commentLevel,
    ic.content as content,
    ic.sepc_name as specName,
    ic.created_time as createdTime,
    u.face as userFace,
    u.nickname as nickname
    FROM
    items_comments ic
    LEFT JOIN
    users u
    ON
    ic.user_id = u.id
    WHERE
    ic.item_id = #{itemId}
    <if test=" level != null and level != '' ">
      AND ic.comment_level = #{level}
    </if>
  </select>
</mapper>