<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zb.mapper.OrderStatusMapper" >
  <resultMap id="BaseResultMap" type="com.zb.pojo.model.OrderStatus" >
    <constructor >
      <idArg column="order_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="order_status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="created_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="pay_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="deliver_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="success_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="close_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="comment_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, order_status, created_time, pay_time, deliver_time, success_time, close_time, 
    comment_time
  </sql>
</mapper>